%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-search:before {
	content: "\f002";
  }
  ._icon-envelope-o:before {
	content: "\f003";
  }
  ._icon-star:before {
	content: "\f005";
  }
  ._icon-user:before {
	content: "\f007";
  }
  ._icon-th-large:before {
	content: "\f009";
  }
  ._icon-th-list:before {
	content: "\f00b";
  }
  ._icon-close:before {
	content: "\f00d";
  }
  ._icon-remove:before {
	content: "\f00d";
  }
  ._icon-times:before {
	content: "\f00d";
  }
  ._icon-lock:before {
	content: "\f023";
  }
  ._icon-map-marker:before {
	content: "\f041";
  }
  ._icon-edit:before {
	content: "\f044";
  }
  ._icon-pencil-square-o:before {
	content: "\f044";
  }
  ._icon-shopping-cart:before {
	content: "\f07a";
  }
  ._icon-heart-o:before {
	content: "\f08a";
  }
  ._icon-phone:before {
	content: "\f095";
  }
  ._icon-twitter:before {
	content: "\f099";
  }
  ._icon-facebook:before {
	content: "\f09a";
  }
  ._icon-facebook-f:before {
	content: "\f09a";
  }
  ._icon-bell-o:before {
	content: "\f0a2";
  }
  ._icon-group:before {
	content: "\f0c0";
  }
  ._icon-users:before {
	content: "\f0c0";
  }
  ._icon-caret-down:before {
	content: "\f0d7";
  }
  ._icon-caret-up:before {
	content: "\f0d8";
  }
  ._icon-linkedin:before {
	content: "\f0e1";
  }
  ._icon-comment-o:before {
	content: "\f0e5";
  }
  ._icon-comments-o:before {
	content: "\f0e6";
  }
  ._icon-bolt:before {
	content: "\f0e7";
  }
  ._icon-flash:before {
	content: "\f0e7";
  }
  ._icon-suitcase:before {
	content: "\f0f2";
  }
  ._icon-angle-right:before {
	content: "\f105";
  }
  ._icon-angle-down:before {
	content: "\f107";
  }
  ._icon-mail-reply:before {
	content: "\f112";
  }
  ._icon-reply:before {
	content: "\f112";
  }
  ._icon-meh-o:before {
	content: "\f11a";
  }
  ._icon-location-arrow:before {
	content: "\f124";
  }
  ._icon-cny:before {
	content: "\f157";
  }
  ._icon-jpy:before {
	content: "\f157";
  }
  ._icon-rmb:before {
	content: "\f157";
  }
  ._icon-yen:before {
	content: "\f157";
  }
  ._icon-sort-amount-desc:before {
	content: "\f161";
  }
  ._icon-youtube-play:before {
	content: "\f16a";
  }
  ._icon-foursquare:before {
	content: "\f180";
  }
  ._icon-pagelines:before {
	content: "\f18c";
  }
  ._icon-pinterest-p:before {
	content: "\f231";
  }