@font-face{
	font-family: Poppins;
	font-display: swap;
	src: url("../fonts/Poppins-Black.woff2") format("woff2"), url("../fonts/Poppins-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face{
	font-family: Poppins;
	font-display: swap;
	src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Poppins;
	font-display: swap;
	src: url("../fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/Poppins-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: Poppins;
	font-display: swap;
	src: url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
