//====================================================================================================

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
.header {
	&__top-box {
		display: flex;
		position: relative;
	}

	&__top-wrap {
		display: flex;
		justify-content: space-between;
		height: 90px;
		align-items: center;
		padding: 15px 0px;
	}
	&__top-info {
		margin-left: auto;
		margin-right: 29px;
		span {
			color: $red;
		}
	}
	&__top-bascet {
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background-color: #f5f5f5;
		margin-right: 25px;
	}

	&__btn  {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 3px;
		width: 72px;
		padding: 9px;
		color: #fff;
		font-size: 12px;
		&_green {
			background-color: $green;
		}

		&_red,
		&_red-logout {	
			background-color: $red;
		}
	}
	

	&__menu {
		
	}

	&__menu-list {
		height: 60px;
		display: flex;
		align-items: center;
		gap: 40px;
		color: #fff;
		font-weight: 500;
		font-size: 14px;
	}

	&__menu-link {
	}
	
	&__circle {
		display: none;
		width: 34px;
		height: 34px;
		border-radius: 50%;
		background-color: #f5f5f5;
		position: relative;
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #a0a0a0;
			font-size: 14px;
		}
		& + .header__circle {
			margin-left: 15px;
		}
		span {
			position: absolute;
			text-align: center;
			line-height: 18px;
			width: 18px;
			height: 18px;
			right: -7px;
			top: -7px;
			border-radius: 50%;
			font-size: 11px;
			font-family: "OpenSans";
			font-weight: 600;
			color: #ffffff; 
		}	
		&.active {
			display: block;
		}
	}
	&__top-notification {
		span {
			background-color: #fcb322;
		}
	}
	&__top-message {
		span {
			background-color: #ef6c00;
		}
		
	}
	&__top-bascet {
		span {
			background-color: #95c85a;
		}
	}
	&__top-user {
		display: flex;
		margin-left: 20px;
		margin-right: 25px;
		padding-right: 20px;
		position: relative;
		&::before {
			content: '\f107';
			position: absolute;
			font-family: icons;
			right: 0;
			font-size: 16px;
			cursor: pointer;
			color: #707070;
		}
		
	}
}
.header__btn_green--off {
	display: none;
}
.header__btn_red-logout {
	display: none;
	&.header__btn_green--on {
		display: inline-flex;
	}
}
.header__top-box {
	padding: 20px 0;
	&:hover {
		.user__menu {
			height: auto;
			border-width: 1px;
			padding: 20px;
			overflow: auto;
		}
	}
}
// ====Выпадающее меню пользователя
.user__menu {
		border: 0 solid #cccccc;
		background-color: #ffffff;
		// box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
		position: absolute;
		padding: 0 20px;
		width: 158px;
		top: 82px;
		left: 20px;
		transition: all .3s;
		height: 0px;
		overflow: hidden;
		a {
			display: inline-block;
			font-size: 12px;
			color: #546e7a;
			margin-bottom: 15px;
		}
}
// ==Выпадающее меню корзина
.bascet {
	&__box {
		position: relative;
		margin-left: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
		&:hover {
			.bascet__menu {
				height: auto;
				border-width: .8px;
				padding: 20px 17px 13px;
				overflow: auto;
			}
		}
	}
	// .bascet__menu

	&__menu {
		display: flex;
		flex-direction: column;
		padding: 0px 17px 0px;
		width: 269px;
		border: 0px solid #cccccc;
		background-color: #ffffff;
		//box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
		position: absolute; 
		right: 0;
		top: 82px;
		transition: all .3s;
		height: 0px;
		overflow: hidden;
		z-index: 5;
	}

	// .bascet__item

	&__item {
		display: flex;
		padding: 20px 23px 24px;
		border-bottom: 1px solid #e0e0e0;
	}

	// .bascet__images

	&__images {
		margin-right: 15px;
	}

	// .bascet__info

	&__info {
		display: flex;
		flex-direction: column;
		
	}

	// .bascet__info-name

	&__info-name {
		font-size: 15px;
		font-family: "Roboto";
		font-weight: 500;
		color: #263238; 
		margin-bottom: 9px;
	}

	// .bascet__info-theam

	&__info-theam {
		font-size: 12px;
		font-family: "Roboto";
		font-weight: 400;
		color: #85b643;
		margin-bottom: 11px;
	}

	// .bascet__info-price

	&__info-price {
			font-size: 16px;
			font-family: "Roboto";
			font-weight: 500;
			color: #000000;
	}

	// .bascet__result

	&__result {
		padding-top: 19px;
	}

	// .bascet__result-title

	&__result-title {
		display: flex;
		justify-content: space-between;
		font-size: 16px;
		font-family: "Roboto";
		color: #263238;
		font-weight: bold;
		padding-left: 29px;
		padding-right: 40px;
		margin-bottom: 18px;
	}

	// .bascet__result-name

	&__result-name {
		
	}

	// .bascet__result-total

	&__result-total {
		
	}

	// .bascet__result-btn

	&__result-btn {
			font-size: 14px;
			font-family: "Roboto";
			color: #f4f6f5;
			font-weight: bold;
			line-height: 4.286;
			padding-top: 12px;
			padding-bottom: 12px;
		// .bascet__result-btn_green

		&_green {
			background-color: #95c85a;
			margin-right: 6px;
			padding-left: 18px;
			padding-right: 20px;
			width: 105px;
			width: 100%;
		}

		// .bascet__result-btn_red

		&_red {
			background-color: #e85647;
			padding-left: 8px;
			padding-right: 8px;
			width: 123px;
			width: 100%;
		}
	}
}

// ====Выпадающее меню сообщений
.message {
	
	&__box {
		padding-top: 20px;
		padding-bottom: 20px;
		margin-left: 15px;
		position: relative;
		&:hover {
			.message__menu {
				height: auto;
				border-width: .8px;
				padding-top: 6px;
				overflow: auto;
			}
		}
	}
	// .message__menu
	&__menu {
		display: flex;
		flex-direction: column;
		width: 269px;
		padding-top: 0;
		border: 0px solid #cccccc;
		background-color: #ffffff;
		//box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
		position: absolute; 
		right: 0;
		top: 82px;
		transition: all .3s;
		height: 0px;
		overflow: hidden;
		z-index: 5;
		border-bottom: none;
	}

	// .message__item

	&__item {
		display: flex;
		border-bottom: 1px solid #e0e0e0;;
		padding-bottom: 22px;
		padding-top: 13px;
		padding-right: 17px;
		padding-left: 13px;
	}

	// .message__images

	&__images {
		margin-right: 19px;
	}

	// .message__info

	&__info {
	}
	&__info-name {
		font-size: 12px;
		font-family: "Roboto";
		color: #263238;
		font-weight: 700;
		margin-bottom: 8px;
	}

	// .message__info-text

	&__info-text {
		font-size: 11px;
		font-family: "Roboto";
		font-weight: 400;
		color: #84b743;	
		margin-bottom: 8px;
	}

	// .message__info-date

	&__info-date {
		font-size: 10px;
		font-family: "Roboto";
		font-weight: 400;
		color: rgb(112, 112, 112);
	}
}


._icon-envelope-o,
._icon-reply {
	margin-left: auto;
}
.message__item-new {
	a {
		color: #ef6c00;
	}
}

// Выпадающее меню оповещений
._icon-bell-o {
	margin-left: auto;
	color: #b0bec5;
	font-size: 16px;
}
.notification {
	&__box {
		padding-top: 20px;
		padding-bottom: 20px;
		margin-left: 15px;
		position: relative;
		&:hover {
			.notification__menu {
				height: auto;
				border-width: .8px;
				padding-top: 6px;
				overflow: auto;
			}
		}
	}
	// .notification__menu

	&__menu {
		display: flex;
		flex-direction: column;
		width: 269px;
		padding-top: 0;
		border: 0px solid #cccccc;
		background-color: #ffffff;
		//box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
		position: absolute; 
		right: 0;
		top: 82px;
		transition: all .3s;
		height: 0px;
		overflow: hidden;
		z-index: 5;
		border-bottom: none;
	}

	// .notification__item

	&__item {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #e0e0e0;;
		padding-bottom: 22px;
		padding-top: 13px;
		padding-right: 17px;
		padding-left: 13px;
		&_new {
			._icon-bell-o {
				color: #ef6c00;
			}
		}
	}

	// .notification__images

	&__images {
		margin-right: 19px;
	}
}
.natification {

	// .natification__info

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	// .natification__info-text

	&__info-text {
		font-size: 11px;
		font-family: "Roboto";
		font-weight: 400;
		color: #84b743;	
		margin-bottom: 8px;
	}

	// .natification__info-data

	&__info-data {
		font-size: 10px;
		font-family: "Roboto";
		font-weight: 400;
		color: rgb(112, 112, 112);
	}
}





.header {

	// .header__top-bascet

	&__top-bascet {
	}

	// .header__circle

	&__circle {
	}
}
.active {
}
	// ._icon-shopping-cart

	//&_icon-shopping-cart {
	//}



.user__img {
	margin-right: 15px;
	width: 34px;
	height: 34px;
	overflow: hidden;
	border-radius: 50%;
}
.user__name {
	font-size: 14px;
	font-family: "Roboto";
	font-weight: 500;
	color: #222222; 
	margin-bottom: 4px; 
}
.user__money {
	font-size: 14px;
	font-family: "Roboto";
	color: #8bc34a;
	font-weight: bold; 
}

.phone {
}
.header-bottom {
	background-color: $grey;
}

// =========СЕКЦИЯ ПОИСКА ПО САЙТУ

.search {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 533px;
	// .search__inner

	&__inner {
		padding-top: 135px;
		padding-bottom: 100px;
		color: #fff;
		text-align: center;
	}

	// .search__title

	&__title {
		margin-bottom: 28px;
		font-size: 48px;
		font-weight: 700;
	}

	// .search__text

	&__text {
		font-size: 20px;
		font-weight: 500;
		color: #ffffff;
		margin-bottom: 50px;
	}

	// .search__form

	&__form {
		max-width: 670px;
		margin: 0 auto;
		position: relative;
		input {
			display: block;
			width: 100%;
			border-radius: 4px;
			height: 56px;
			box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
			border: none;
			font-size: 14px;
			font-weight: 500;
			padding-left: 25px;
			padding-right: 60px;
			&::placeholder {
				color: #90a4ae;
				font-weight: 500;
			}
		}
		button {
			position: absolute;
			border: none;
			background-color: transparent;
			right: 20px;
			top: 20px;
		}
	}
}


//section__products

.products {
	padding: 110px 0px;
	background-color: #f4f6f5;

	&__inner {
	}

	&__inner-btn {
		text-align: center;
		margin-bottom: 60px;
		button {
			padding: 12px 21px;
			background-color: #fff;
			color: $grey;
			cursor: pointer;
			& + button {
				margin-left: 5px;
				
			}
			
		}
		.mixitup-control-active {
			background-color: $red;
			color: #fff;
		}
	}

	&__inner-box {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__bottom-btn {
		
		
				
		text-align: center;
		button {
			margin: 45px 5px 0;
			background-color: #ffffff;
			box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
			color: $grey;
			padding: 20px 30px;
			cursor: pointer;
			
		}
		.mixitup-control-active {
			background-color: $red;
			color: #fff;
		}
		
	}
}
.product {

	&__item {
		max-width: 442px;
		width: 100%;
		margin-bottom: 30px;
	}

	&__item-img {
		min-height: 250px;
		background-repeat: no-repeat;
		display: block;
		background-position: center;
		background-size: cover;
	}

	&__item-content {
		display: flex;
		justify-content: space-between;
		padding: 30px 30px 18px;
		margin-bottom: 1px;
		min-height: 90px;
		align-items: center;
		background-color: #ffffff;
		box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
	}

	&__item-name {
		max-width: 310px;
		display: flex;
		flex-direction: column;
	}

	&__item-title {
		font-size: 18px;
		font-weight: 500;
		color: $grey;
		margin-bottom: 10px;
		
			
	}

	&__item-category {
		font-size: 14px;
		font-weight: 500;
		color: $green;
	}

	&__item-price {
		font-size: 20px;
		color: $grey;
		font-weight: bold;				  
	}

	&__item-info {
		display: flex;
		justify-content: space-between;
		background-color: #ffffff;
		align-items: center;
		box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
		padding-left: 32px;
		padding-top: 18px;
		padding-bottom: 20px;
		padding-right: 32px;
	}

	&__item-autor {
		display: flex;
		align-items: center;
		.avatar {	
			width: 30px;
			height: 30px;
			border-radius: 50px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			margin-right: 14px;
		}
		span {
			font-size: 14px;
			font-weight: 500;
			color: #546e7a;
		}
	}

	&__item-star {
		font-size: 12px;
		color: $grey;			
	}
}
.rating__num {
	max-width: 25px;
	display: flex;
	align-items: end;
}
.rating__bracket-left {
	span {
		padding-left: 3px;
		padding-right: -10px;
		margin-right: -10px;
		font-size: 12px;
	}
}
.slider {
	padding: 120px 0;
}
.products__slide {
	display: flex;
	justify-content: space-between;
}
.products__swiper {
	padding-bottom: 68px;
}
.swiper {
	padding-bottom: 68px;
	.product__item-info,
	.product__item-content {
		border: 1px solid #e3e3e3;

	}
	.product__item-content {
		border-bottom: none;
	}
	
}
.swiper-pagination {
	
	.swiper-pagination-bullet {
		opacity: 1;
		background-color: #e8e8e8;
		border: 1px solid #546e7a;
		
		&-active {
			background-color: $green;
		}
	}
}

.swiper-pagination-bullet-active {
	background-color: $green;
}

.advantages {
	background-color: $grey;
	padding-top: 120px;
	padding-bottom: 55px;
	
	// .advantages__title

	&__title {
		color: #ffffff;
	}

	// .advantages__inner

	&__inner {
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}

	// .advantages__item

	&__item {
		padding: 40px 25px 60px;
		max-width: 370px;
		display: flex;
		flex-direction: column;
		align-items: center;
		

		&:hover {
			.advantages__item-img {
				background-color: $green;
			}
			.advantages__item-title {
				color: $green;
			}
			.advantages__item-img {
				g {
					fill: #fff;
					stroke: #fff;
				}
				path {
					fill: #fff;
				}
				rect {
					fill: #fff;
				}
			}
		}

		&-img {
			width: 114px;
			height: 114px;
			background-color: #fff;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			margin-bottom: 25px;
			transition: all .3s;
		}
		&-title {
			margin-bottom: 20px;
			font-size: 24px;
			font-weight: 500;
			color: #ffffff;  
			transition: all .3s;
		}
		&-text {
			color: rgb(176, 190, 197);
			line-height: 1.6;  
			text-align: center;
		}
	
	}
	
}
.autors {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 750px;
	display: flex;
	justify-content: center;
	align-items: center;

	// .autors__box

	&__box {
		max-width: 650px;
		width: 100%;
		min-height: 215px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $green;
	}

	// .autors__box-title

	&__box-title {
		font-size: 30px;
		font-weight: 400;
		color: #ffffff;
		line-height: 1.2; 
		margin-right: 45px;
		max-width: 265px;
		span {
			font-weight: 700;
		}
	}

	// .autors__box-link

	&__box-link {
		font-size: 18px;
		color: rgb(38, 50, 56);
		font-weight: 400;	
		padding: 14px 40px;
		background-color:  #fff;
	}
}

.tutorial {
	padding: 70px 0 120px;

	// .tutorial__title

	&__title {
		margin-bottom: 54px;
	}

	// .tutorial__inner

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	// .tutorial__item

	&__item {
		text-align: center;
		max-width: 370px;
		width: 100%;
		max-height: 375px;
		background-color: #f8f8f8;
		padding-bottom: 35px;
	}

	// .tutorial__item-img

	&__item-img {
		margin-bottom: 35px;
	}

	// .tutorial__item-title

	&__item-title {
		font-size: 24px;
		color: #263238;
		font-weight: bold;	
	}
}














